{% load crispy_forms_tags %}
<div id="collapseEit" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body row d-flex justify-content-center">
        <div class="forn-envio col-lg-5 align-items-stretch">
            <div class="input-group">
                <form action="/{{company.id}}/add_condiciones" method="post" id="add_regla_forms">
                    {% csrf_token %}
                    {{form_regla|crispy}}
                    <button type="submit" class="btn btn-primary btn-sm"
                            id="button-addon2">Registrar</button>
                </form>
            </div>
        </div>
        <div class="info_rule col-lg-5 d-flex align-items-stretch" id="delete_regla">
            {% include 'notificaciones/get_condiciones.html' %}
        </div>
    </div>
</div>