{% load crispy_forms_tags %}
<div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body row d-flex justify-content-center">
        <div class="forn-envio col-lg-5 align-items-stretch">
            <div class="input-group">
                <form action="/add_promocion/{{company.id}}" method="post" id="add_ofertas_forms">
                    {% csrf_token %}
                    {{forms_promocion|crispy}}
                    <button type="submit" class="btn btn-primary btn-sm">Registrar</button>
                </form>
            </div>
        </div>
        <div class="info_ofertas col-lg-5 d-flex align-items-stretch" id="info_ofertas">
            {% include 'notificaciones/get_promocion.html' %}
        </div>
    </div>
</div>