{% load crispy_forms_tags %}
<h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <strong>Agregue Avisos a su Catalogo (Opcional)</strong>
    </button>
</h2>
<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body row d-flex justify-content-center">
        <div class="forn-envio col-lg-5 align-items-stretch">
            <div class="input-group">
                <form action="/{{company.id}}/add_avisos" method="post" id="add_avisos_forms">
                    {% csrf_token %}
                    {{form_avisos|crispy}}
                    <button type="submit" class="btn btn-primary btn-sm">Registrar</button>
                </form>
            </div>
        </div>
        <div class="info_avisos col-lg-5 align-items-stretch table-responsive">
            {% include 'notificaciones/get_opciones.html' %}
        </div>
    </div>
</div>