{% load crispy_forms_tags %}
<h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <strong>Registrar Precio de Envio (Opcional)</strong>
    </button>
</h2>
<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body row d-flex justify-content-center">
        <div class="forn-envio col-lg-5 align-items-stretch">
            <div class="input-group">
                <form action="/{{company.id}}/precio_envio" method="post" id="form_precio_envio">
                    {% csrf_token %}
                    {{form_precio|crispy}}
                    <button type="submit" class="btn btn-primary btn-sm">Registrar</button>
                </form>
            </div>
        </div>
        <div class="precios_env col-lg-5 align-items-stretch table-responsive" id="delete_precio"> 
            {% include 'configuraciones/mostrar_precio.html' %}    
        </div>
    </div>
</div>
<script>
    $('#form_precio_envio').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (resp) {
                let mensaje = '';
                if (resp.errors) {
                    for (const campo in resp.errors) {
                        resp.errors[campo].forEach(function(error) {
                            mensaje += error.message + '<br>';
                        });
                    }
                    $('.toast-body').addClass('alert alert-danger');
                    $('.toast-body').fadeIn(1000).html(mensaje);
                    mostrar_notificacion();
                } else {
                    $(".precios_env").html("");
                    $('.toast-body').addClass('alert alert-success');
                    $('.toast-body').fadeIn(1000).html(resp.success);
                    mostrar_notificacion();
                    $.ajax({
                        type: 'get',
                        url: '/{{company.id}}/mostrar_precio',
                        success: function (respuesta) {
                            $('#delete_precio').html(respuesta);
                        }

                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('.toast-body').addClass('alert alert-danger');
                $('.toast-body').fadeIn(1000).html("verifique si tiene internet");
                mostrar_notificacion();
            }
        });
    });

    function del_precio(urls) {
        $.ajax({
            type: 'get',
            url: urls,
            success: function (resp) {
                if (resp.error) {
                    $(".invalid_ct").html(resp.error);
                } else {

                    $(".modal-content").html(resp);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error:" + thrownError);
            }
        });
        return false;
    }
</script>