{% load crispy_forms_tags %}
<h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <strong>Registrar Precio de Envio (Opcional)</strong>
    </button>
</h2>
<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body row d-flex justify-content-center">
        <div class="forn-envio col-lg-5 align-items-stretch">
            <div class="input-group">
                <form action="/{{company.id}}/precio_envio" method="post" id="form_precio_envio">
                    {% csrf_token %}
                    {{form_precio|crispy}}
                    <button type="submit" class="btn btn-primary btn-sm">Registrar</button>
                </form>
            </div>
        </div>
        <div class="precios_env col-lg-5 align-items-stretch table-responsive" id="delete_precio"> 
            {% include 'configuraciones/mostrar_precio.html' %}    
        </div>
    </div>
</div>
<script>
$("#id_por_pagar").change(function () {
    if ($(this).is(":checked")) {
        $('#id_precio').val("");
        $('#id_precio_ciudad').val("");
    } else {
        console.log("Desmarcado");
    }
});
</script>