<h2 class="accordion-header">
    <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <strong>Reporte de Pedidos</strong>
    </button>
</h2>
<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
    <div class="accordion-body row">
        <div class="forn-envio col-12 justify-content-center align-items-stretch">
            <div class="row">
                <form action="/{{company.id}}/buscar_orden" class="col-lg-6 col-md-6 col-sm-12" method="post" id="form_buscar_orden">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="number" name="codigo_orden" class="form-control"
                            placeholder="Ingrese número de orden" aria-label="Ingrese codigo de orden"
                            aria-describedby="button-addon2" required>
                        <button class="btn btn-primary" type="submit" id="button-addon2">Buscar</button>
                    </div>
                </form>
                <form action="/{{company.id}}/report_by_date" class="col-lg-6 col-md-6 col-sm-12" method="post" id="form_by_date">
                    {% csrf_token %}
                    <div class="">
                        <input type="text" name="daterange" class="form-control" placeholder="Ingrese un rango de fecha" aria-label="Ingrese un rango de fecha" aria-describedby="button-addon2" required style="width: 240px;">
                        <small class="text-muted">Reporte de pedidos por fecha</small>
                        
                    </div>
                </form>
            </div>

        </div>
        <div class="pedidos col-12 align-items-center table-responsive">
        </div>
    </div>
</div>