{% extends 'index.html' %}

{% block titulo %}
    {{company.name|title|truncatechars:17|cut:" "}}
{% endblock titulo %}

{% block company %}
    <a href="/{{company.id}}/catalogo">
      <marquee behavior="" direction="">{{company.name|title}}</marquee>
    </a>
{% endblock company %}

{% block code_meta %}
    {% if code %}
    <script>
       {{code.codigo|safe}}
    </script>
    <noscript>
      {{code.noscript|safe}}
    </noscript>
    {% endif %}
{% endblock code_meta %}

{% block carrito %}
  {% include 'catalog/carrito.html'  with total_compra=total_compra %}
{% endblock carrito %}

{% block menus %}
    {% include 'menu_from_user.html' %}
{% endblock menus %}

{% block hero %}  
    <style>
      #hero{
        width: 100%;
        height: calc(100vh - 50px);
        background: url("/media/{{company.image}}") center center;
        background-size: cover;
        position: relative;
        margin-top: 50px;
        padding: 0;
      }
    </style>
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
      <div class="container text-center text-md-left" data-aos="fade-up">
        <h1>{{company.name|title}}</h1><br><br>
        
        <a href="#team_productos" class="btn-get-started scrollto"> Ver Ultimas Novedades</a>
        <h2>
          <br>
          <div class="testimonials-slider swiper" data-aos="fade-left" data-aos-delay="100">
            <div class="swiper-wrapper">
              {% for c in categorias %}
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <a type="button" onclick="mostrar_por_categoria('/{{company.id}}/{{c.id}}/mostrar_por_categoria')" 
                    href="#team_productos" class="btn btn-success btn-lg" 
                    style="background-color: #1bac91;; color: white; border-radius: 50px;">
                    <i class="bi bi-bag-check"></i> {{c.name|title}}
                    </a>
                  </p>
                </div>
              </div><!-- End testimonial item -->
              {% endfor %}
            </div><br><br>
            <div class="swiper-pagination"></div>
          </div>
        </h2>
      </div>
    </section>
{% endblock hero %}
  
{% block contenido %}
    <section id="team_productos" class="portfolio">
      
      {% if aviso %}
        {% include 'notificaciones/opciones_avisos.html' %}
      {% endif %}
      <div class="container-fluid productos_por_categorias">
          {% include 'catalog/card_productos.html' with productos=productos %}
        <hr>
          {% include 'pag_productos.html' %}
      </div> 
    </section>
{% endblock contenido %}
{% block preg_frecuentes %} {% endblock preg_frecuentes %}
{% block button_whatsap %}
  {% include 'button_whatsap.html' %}
{% endblock button_whatsap %}

{% block suscipcion_for_email %}
  {% include 'form_suscripcion_email.html' %}
{% endblock suscipcion_for_email %}

{% block contact %}
  <!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    {% include 'contact.html' with company=company %}
  </div>
</section>
<!-- End Contact Section -->
{% endblock contact %}

{% block footer_catalog %}
  {% include 'footer_tienda.html' %}
{% endblock footer_catalog %}
  
  

  