{% extends 'index.html' %}

{% load static %}

{% block titulo %}
    {{company.name|title|truncatechars:17|cut:" "}}
{% endblock titulo %}

{% block company %}
  <a href="/{{company.id}}/catalogo">
    <marquee behavior="" direction="">{{company.name|title|cut:" "}}</marquee>
  </a>
{% endblock company %}

{% block carrito %}
  {% include 'catalog/carrito.html'  with total_compra=total_compra %}
{% endblock carrito %}

{% block menus %}
    {% include 'menu_from_user.html' with categorias=categorias %}
{% endblock menus %}

{% block hero %}  {% endblock hero %}
  
{% block contenido %}
    <section id="team_productos" class="team" style="margin-top: 80px;" >
      <div class="container-fluid productos_por_categorias" data-aos="fade-up">
          {% include 'catalog/card_productos.html' with productos=productos categorys=categorys %}
        <hr>
          {% include 'pag_productos.html' %}
      </div> 
    </section>
{% endblock contenido %}
    
{% block contact %}
  <!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    {% include 'contact.html' %}
  </div>
</section>
<!-- End Contact Section -->
{% endblock contact %}
  
{% block js %}
<script src="{% static 'js/funcionesFromUser.js' %}"></script>
{% endblock js %}
  