
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <h2>Agrega tus productos al carrito</h2>
                  <p>Los mejores productos o servicios los encuentras en: <strong>{{company.name|title|cut:" "}}</strong></p>
              </div>
          </div>
      </div>
      <div class="row col-12 justify-content-center" style="margin-left: 1px;">
          
        {% for p in productos %}
        <div class="card dark card_p single-product">
          
          {% if p.image %}
            <img src="/media/{{p.image}}" class="card-img-top" alt="..." onclick="detailView('/{{p.id}}/{{company.id}}/detail_product')">
            {% else %}
            <i class="bi bi-box-seam card-img-top icon" alt="..." onclick="detailView('/{{p.id}}/{{company.id}}/detail_product')"></i>
          {% endif %}
            {% if p.is_new %}
                  <span class="badge rounded-pill bg-primary sale-tag d-flex">Nuevo</span>
            {% endif %}
          <div class="card-body" style="padding: 0px;">
              <div class="text-section">
                  <h5 class="card-title text-wrap text-primary fw-bolder">{{p.name|capfirst}}</h5>
                  <p class="card-text text-break text-wrap">{{p.description|default:" - - - "|capfirst|truncatewords:5}}
                    <a href="/{{p.id}}/{{company.id}}/detail_product" style="font-size: 14px;">Ver más</a>
                  </p>
                  <p class="card-text">Categoria: <small class="text-muted">{{p.category|title}}</small>
                   
                  </p>
              </div>
              <div class="cta-section">
                  <div>
                    <p style="margin-bottom: 0px;">Bs. {{p.price|default:" 0 "}}</p>
                    {% if p.price_before %}
                    <p class="text-decoration-line-through text-danger" style="font-size: 14px; margin-bottom: 0px;">Antes: {{p.price_before}}</p>
                    <p><span class="badge text-bg-warning text-white desc">Desc. {{p.porcentage}}%</span></p>
                    {% endif %}
                    {% if p.is_service %}
                      <p><span class="badge text-bg-info text-white" style="color: white;">Servicio</span></p>
                    {% endif %} 
                  
                    <button type="submit" id="id_{{p.id}}" onclick="add_item('/{{p.id}}/{{company.id}}/detail_product','{{p.id}}')" class="btn btn-primary btn-sm">Agregar</button>
                  </div>
              </div>
          </div>
      </div>
            {% empty %}
            <div class="alert alert-warning" role="alert" style="text-align: center;">No se encontraron resultados. <a href="/{{company.id}}/catalogo">Ir al Inicio</a></div>
            {% endfor %}     
      </div>
      
  <script>
    function datos(urls){//optener producto
        $.ajax({
                type:'GET',
                url:urls,
                success:function(resp){
                   // $("#exampleModalLabel").html(name_prod);
                    $("#optenerProducto").fadeIn(1000).html(resp);
                }
            });
    }
    function add_item(urls, id_producto){
      let b = $(this).attr("id_"+id_producto);
      b.innerHTML = "Agregar +";
      $.ajax({
        type:'POST',
        url:urls,
        data:{csrfmiddlewaretoken: '{{ csrf_token }}','cantidad':1, 'id_producto':id_producto},
        success:function(resp){
          if(resp.error){
              $(".alert-danger").fadeIn(1000).html(resp.error).show();
              $(".alert-success").html(resp.success).hide();
            }
            else{
              $(".alert-success").fadeIn(1000).html(resp.success).show();
              $(".alert-danger").html(resp.error).hide();

              $("#cont_compras").html(resp.total_compra);
            }
            setTimeout(function(){
                $(".tamanio").fadeIn().html(resp.success).hide();
              },4000);
        }
      });
    }
    function detailView(urls){
      window.location.href = urls;
    }
  </script>