{% load crispy_forms_tags %}
<div class="modal-header  thead-light" style="background-color: #58bba9;">
    <h5 class="modal-title text-white" id="exampleModalLabel">Registrar Nueva Categoria</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
  <div class="modal-body table-responsive">
    <form action="/new_category/" method="POST" id="category_forms">
     {% csrf_token %}
       {{form|crispy}}
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle"></i> Cancelar</button>
        <button type="submit" class="btn btn-success btn-sm">Registrar</button>
      </div>
    </form>
    <p class="invalid_ct"></p>
 </div>
 <script>
  $('#category_forms').on('submit',function(e){
    e.preventDefault();
    $.ajax({
        type:'POST',
        url: $(this).attr('action'),
        data: $(this).serialize(),
        success:function(resp){
          if(resp.error){
            $(".invalid_ct").html(resp.error);
          }else{
            console.log(resp.category_name);
            $('#form_producto #id_category').val(resp.category_name);
            //
            $('.invalid_ct').html(resp.category_name+ ' ,Registro exitoso.');
            setTimeout(function(){
              $(".btn-close").click();
            },2000);
            
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
             alert("Error:"+ thrownError);
           }
    });
  });
 </script>