{% extends "index.html" %}
{% load static %}

{% block titulo %}
{{p.name|title|truncatechars:26}}
{% endblock titulo %}

{% block tecnica_seo %}
    <meta name="description" content="{{ p.get_meta_description }}">
    <meta property="og:title" content="{{ p.get_meta_title }}">
    <meta property="og:description" content="{{ p.get_meta_description }}">
    <meta property="og:image" content="{{ p.get_meta_image }}">
    <meta property="og:url" content="https://{{ request.get_host }}{{ p.get_meta_url }}">
    <link rel="canonical" href="https://{{ request.get_host }}{{ p.get_meta_url }}">
{% endblock tecnica_seo %}

{% block company %}
<a href="/{{company.id}}/catalogo">
  <marquee behavior="" direction="">{{company.name|title}}</marquee>
</a>
{% endblock company %}

{% block code_meta %}
    {% if code %}
    <script>
       {{code.codigo|safe}}
    </script>
    <noscript>
      {{code.noscript|safe}}
    </noscript>
    {% endif %}
{% endblock code_meta %}

{% block carrito %}
{% include 'catalog/carrito.html' with total_compra=total_compra %}
{% endblock carrito %}

{% block menus %}
{% include 'menu_from_user.html' with categorias=categorias %}
{% endblock menus %}

{% block hero %} {% endblock hero %}

{% block contenido %}
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details" data-aos="fade-up">
  {% if aviso %}
  {% include 'notificaciones/opciones_avisos.html' %}
  {% endif %}
  <style>
    .cantidades {
      display: flex;
    }

    .cant input {
      width: 60px;
      text-align: center;
    }

    .valores {
      text-align: center;
      background-color: rgb(167, 182, 182);
      padding: 4px 10px 5px 10px;
      height: 30px;
      font-family: cursive;
    }

    .valores:hover {
      background-color: rgb(24, 24, 22);
      color: white;
      cursor: pointer;
    }

    .btn_add .btn_icon {
      display: none;
    }

    .sale-tag {
      border-radius: 2px;
      font-size: 12px;
      color: #fff;
      font-weight: bold;
      position: absolute;
      top: 0;
      padding: 5px 10px;
      z-index: 5;
      margin-top: 8px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }
    @media (min-width: 1024px){/*cuando la pantalla es > a 750*/
    .detail .ims_detail img{
      max-width: 561px; max-height: 450px;
      width: 561px; height: 450px;
    }
    .detail .ims_detail{
      text-align: center;
    }
  }
  </style>
  <div class="container" id="team_productos">

    <div class="row gy-4 productos_por_categorias">

      <div class="col-lg-8">
        <div class="portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center detail">

            {% if images_product %}
              <div class="swiper-slide ims_detail">
                <img src="/media/{{p.image}}" class="img-fluid rounded object-fit-cover" alt="">
              </div>
              {% for img_pro in images_product %}
              <div class="swiper-slide ims_detail">
                <img src="/media/{{img_pro.img}}" class="img-fluid rounded object-fit-cover" alt="">
              </div>
              {% endfor %}
            {% else %}
              {% if p.image %}
              <div class="swiper-slide" style="text-align: center;">
                <img src="/media/{{p.image}}" alt="" class="img-fluid rounded object-fit-cover">
              </div>
              {% else %}
              <i class="bi bi-image icon" style="margin-top: 20px;" alt="..."></i>
            {% endif %}

            {% endif %}
          </div>
          {% if p.is_new %}
          <span class="badge rounded-pill bg-primary sale-tag d-flex">Nuevo</span>
          {% endif %}
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="portfolio-info">
          <h3 class="text-primary text-wrap fw-bold">{{p.name|capfirst}}</h3>
          <ul>
            <li><strong>Categoria</strong>: {{p.category|capfirst}}</li>
            <li><strong>Código</strong>: {{p.code|default:" - - -"}}</li>
            <li><strong>Precio</strong>: {{p.price|default:" 0 "}} Bs.
              {% if p.price_before %}
              <span class="text-decoration-line-through text-danger" style="font-size: 14px; padding-left: 30px;">Antes:
                {{p.price_before}} Bs.</span>
              {% endif %}
            </li>
            <li>
              <strong>
                {% if p.price_before %}
                <span style="font-size: 14px;" class="badge text-bg-warning text-white">Desc. {{p.porcentage}}%</span>
                {% endif %}
              </strong>
              {% if p.is_service %}
              <span class="badge text-bg-info text-white" style="font-size: 14px;">Servicio</span>
              {% endif %}
            </li>
            <li><strong>Producto</strong>:
              {% if p.stock_actual > 0 %}
              <span id="passwordHelpBlock" class="form-text text-success">
                Disponible <i class="bi bi-check-lg"></i>       
                <i class="bi bi-star-fill" style="color: gold;"></i>
                <i class="bi bi-star-fill" style="color: gold;"></i>
                <i class="bi bi-star-fill" style="color: gold;"></i> 
              </span>
              {% else %}
              <span id="passwordHelpBlock" class="form-text text-danger">
                Agotado
              </span>
              {% endif %}
            </li>

            <div class="align-items-start">
              <form action="/{{p.id}}/{{company.id}}/detail_product" id="form_pedido" method="post"
                class="form-row row">
                {% csrf_token %}
                <div class="col cantidades form-group">
                  <label for="inputPassword6" class="col-form-label text-dark" style="width: 165px;"><strong> Cantidad:
                    </strong>
                  </label>
                  <div class="valores menos" style="border-radius: 15px 0px 0px 15px;"> - </div>
                  <div class="cant">
                    <input type="number" name="cantidad" placeholder="ejem. 1" value="1" min="1" max="{{p.stock_actual}}"
                      id="cantidad_id" class="form-control form-control-sm valor_numerico" required>
                  </div>
                  <div class="valores mas" style="border-radius: 0px 15px 15px 0px;"> + </div>
                </div>

                <div class="row btn_add align-items-center" style="height: 30px;">
                  <button type="col submit" class="btn btn-success btn-sm tb_text efecto_button">
                    <i class="bi bi-cart-fill"></i>
                    Agregar al Carrito
                  </button><br><br>
                  <a href="/{{company.id}}/catalogo" class="col btn btn-secondary btn-sm tb_text"
                    style="padding-top: 5px;">
                    <i class="bi bi-arrow-left-circle"> Volver Atrás</i>
                  </a>


                  <div class="dropdown btn-sm d-flex col">
                    <button class="btn btn-secondary btn-sm dropdown-toggle btn btn-light text-success" type="button"
                      id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      ¿Tiene Alguna Duda?
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <!-- <li><a class="dropdown-item text-primary" style="cursor: pointer;" href="javascript: void(0);" onclick="window.open('http://www.facebook.com/sharer.php?u={{request.build_absolute_uri}}','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');">En Facebook</a></li>
                        <li><a class="dropdown-item text-success" href="javascript: void(0);" onclick="window.open('whatsapp://send?text=Puedes ver: {{p.description}}/?u={{request.build_absolute_uri}}','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');">En whatsapp</a></li> -->
                      <li>
                        <a class="dropdown-item text-success"
                          href="https://api.whatsapp.com/send?text=Más información sobre el Item: *{{p.name|title|default:' '}} cod: {{p.id}}*, muchas gracias.%0A{{request.build_absolute_uri}} &phone={{company.mobile}}"
                          target="_blank">Consultar sobre el producto <i class="bi bi-whatsapp"></i></a>
                      </li>
                      <li id="status">
                        <a class="dropdown-item" id="compartir" href="#">Compartir en más lugares</a>
                      </li>
                      {% if user.is_authenticated %}
                      <li>
                        <a class="dropdown-item" href="#" onclick="add_imagen('/{{p.id}}/imgs_products/')"
                          data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar más Imagenes</a>
                      </li>
                      
                      {% if images_product %}
                      <li>
                        <a class="dropdown-item text-danger" href="#"
                          onclick="remove_imagen('/{{p.id}}/remode_imgs_products/')" data-bs-toggle="modal"
                          data-bs-target="#exampleModal">Eliminar Imágenes</a>
                      </li>
                      {% endif %}
                        
                      {% endif %}

                    </ul>
                  </div>
                </div>
              </form><br>
            </div>
          </ul>
        </div>
        <div class="portfolio-description">
          <h2>Información</h2>
          <p class="text-break">
            {{p.description|default:" - - -"|capfirst}}
          </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Details Section -->
<script>

  if (navigator.share) {

    // Código si la Web Share API es soportada
    document.getElementById("compartir").value = "En más lugares"
    const shareData = {
      title: "Catalogo",
      text: "Visita mi Catálogo!",
      url: window.location.href,
    };
    let btn = document.getElementById("compartir");
    const resultPara = document.getElementsByClassName("alert-success");

    btn.addEventListener("click", async () => {
      try {
        await navigator.share(shareData);
        resultPara.textContent = "Recurso compartido";

      } catch (err) {
        $("#status").hide()
        document.getElementById("status").hidden();
        alert("Up! parase que tu navegador no esta lista para compartir este recurso.");
      }
    });
  } else {
    // Fallback
    $("#status").hide();
  }

  $('#form_pedido').submit(function (e) {
    e.preventDefault();
    //if(Number.isInteger($('#cantidad_id').val()) || parseInt($('#cantidad_id').val())){
    $.ajax({
      type: 'POST',
      url: $(this).attr("action"),
      data: $(this).serialize(),
      success: function (resp) {
        if (resp.error) {
          $('.toast-body').removeClass('alert-success').addClass('alert-danger');
          $('.toast-body').fadeIn(1000).html(resp.error);
          mostrar_notificacion();
        }
        else {
          $('.toast-body').removeClass('alert-danger').addClass('alert-success');
          $('.toast-body').fadeIn(1000).html('<strong>'+ resp.success +'</strong>');
          mostrar_notificacion();
          $("#cont_compras").html(resp.total_compra);
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        $('.toast-body').removeClass('alert-success').addClass('alert-danger');
        $('.toast-body').fadeIn(1000).html(thrownError);
        mostrar_notificacion();
      }
    });
  });
  $(function () {
    //validaciones del input cantidad
    //$('#cantidad_id').focus();
    input = $(".valor_numerico");
    min = $(".valor_numerico").attr('min'),
      max = $(".valor_numerico").attr('max');
    $(".menos").on('click', function () {
      var oldValue = parseFloat(input.val());
      if (oldValue <= min) {
        var newVal = oldValue;
      } else {
        var newVal = oldValue - 1;
      }
      $(".valor_numerico").val(newVal);
      $(".valor_numerico").trigger("change");
    });
    //cuando se preciona el boton mas
    $(".mas").on('click', function () {
      var oldValue = parseFloat(input.val());
      if (oldValue >= max) {
        var newVal = oldValue;
      } else {
        var newVal = oldValue + 1;
      }
      $(".valor_numerico").val(newVal);
      $(".valor_numerico").trigger("change");
    });
  });

  function add_imagen(urls) {
    $.ajax({
      type: 'GET',
      url: urls,
      success: function (resp) {
        // $("#exampleModalLabel").html(name_prod);
        $(".modal-content").fadeIn(1000).html(resp);
      }
    });
  }

  function remove_imagen(urls) {
    $.ajax({
      type: 'GET',
      url: urls,
      success: function (resp) {
        // $("#exampleModalLabel").html(name_prod);
        $(".modal-content").fadeIn(1000).html(resp);
      }
    });
  }
/* $('.dropdown').hover(function(){
      $('.dropdown-menu').trigger('click')
      console.log('hover');
    }); */
</script>
{% endblock contenido %}

{% block preg_frecuentes %} {% endblock preg_frecuentes %}

{% block button_whatsap %}
{% include 'button_whatsap.html' %}
{% endblock button_whatsap %}

{% block productos_mas_vistos %}
<!-- ======= Contact Section ======= -->
<section id="product_mas_vistos" class="product_view">
  <div class="container">
    {% include 'catalog/productos_mas_vistos.html' %}
  </div>
</section>
{% endblock productos_mas_vistos %}

{% block suscipcion_for_email %}
  {% include 'form_suscripcion_email.html' %}
{% endblock suscipcion_for_email %}

{% block contact %}
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    {% include 'contact.html' %}
  </div>
</section>
<!-- End Contact Section -->
{% endblock contact %}
{% block footer_catalog %}
  {% include 'footer_tienda.html' %}
{% endblock footer_catalog %}
{% block js %}
<script src="{% static 'js/funcionesFromUser.js' %}"></script>
{% endblock js %}