<style>
    .multiple-card-slider .carousel-inner {
        padding: 1em;
    }

    .multiple-card-slider .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
    }

    .multiple-card-slider .carousel-control-prev,
    .multiple-card-slider .carousel-control-next {
        background-color: #e1e1e1;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width: 768px) {
        .multiple-card-slider .carousel-item {
            margin-right: 0;
            flex: 0 0 calc(100% / 3);
            display: block;
            backface-visibility: visible;
        }

        .multiple-card-slider .carousel-inner {
            display: flex;
        }
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="section-title">
            <h2>Productos mas vendidos del mes</h2>
        </div>
    </div>
</div>
<div class="multiple-card-slider carousel slide" data-bs-ride="carousel">
    <div id="carouselExampleControls" class="carousel" data-bs-ride="true">
        <div class="carousel-inner">
            {% for p in productos %}
            <div class="carousel-item">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% if p.image %}
                                <img src="/media/{{p.image}}" class="card-img-top img-fluid rounded mx-auto d-block" alt="...">
                            {% else %}
                                <i class="bi bi-box-seam card-img-top icon" alt="..."></i>
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body"><!---d-none  //par desapareser los item cuando la plla. es pequeña-->
                                <h5 class="card-title text-primary">{{p.name|capfirst}}</h5>
                                <small class="">Prec: {{p.price}}
                                </small>
                                <small class="text-decoration-line-through text-danger">
                                    {% if p.price_before %}
                                    Antes: {{p.price_before}}
                                    {% endif %}
                                </small>
                                <small class="">
                                    {% if p.price_before %}
                                     Desc. {{p.porcentage}}%
                                    {% endif %}
                                </small>
                                <p class="card-text"><small class="text-success" style="font-size: 15px;">Última venta hace {{p.num_aleatorio}} dias</small></p>
                                <button type="submit" id="id_{{p.id}}" onclick="add_item('/{{p.id}}/{{p.company.id}}/detail_product','{{p.id}}')" class="btn btn-primary btn-sm">Agregar</button>
                                <button type="submit" onclick="detailView('/{{p.id}}/{{company.id}}/detail_product')" class="btn btn-warning btn-sm text-white">Ver datalles</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<script>
    $('.multiple-card-slider .carousel').each(function(){
    var currentCarouselId = '#' + $(this).attr('id');
    const multipleItemCarousel = document.querySelector(currentCarouselId);

    if(window.matchMedia("(min-width:576px)").matches){
        const carousel = new bootstrap.Carousel(multipleItemCarousel, {
            interval: false,
            wrap: false
        })
        var carouselWidth = $(currentCarouselId + ' .carousel-inner')[0].scrollWidth;
        var cardWidth = $(currentCarouselId + ' .carousel-item').width();
        var scrollPosition = 0;    
        $(currentCarouselId + ' .carousel-control-next').on('click', function(){
            if(scrollPosition < (carouselWidth - (cardWidth * 4))){
                console.log('next');
                scrollPosition = scrollPosition + cardWidth;
                $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
            }
        });
        $(currentCarouselId + ' .carousel-control-prev').on('click', function(){
            if(scrollPosition > 0){
                console.log('prev');
                scrollPosition = scrollPosition - cardWidth;
                $(currentCarouselId + ' .carousel-inner').animate({scrollLeft: scrollPosition},600);
            }
        });
    }else{
        $(multipleItemCarousel).addClass('slide');
    }
});
$(function(){
  $('.carousel-item:first-child').addClass('active');
});

function add_item(urls, id_producto){
      let b = $(this).attr("id_"+id_producto);
      b.innerHTML = "Agregar +";
      $.ajax({
        type:'POST',
        url:urls,
        data:{csrfmiddlewaretoken: '{{ csrf_token }}','cantidad':1, 'id_producto':id_producto},
        success:function(resp){
          if(resp.error){
              $(".alert-danger").fadeIn(1000).html(resp.error).show();
              $(".alert-success").html(resp.success).hide();
            }
            else{
              $(".alert-success").fadeIn(1000).html(resp.success).show();
              $(".alert-danger").html(resp.error).hide();

              $("#cont_compras").html(resp.total_compra);
              $.ajax({
                type:'GET',
                url:'/{{company.id}}/show_productos_carrito/',
                success:function(respuesta){
                    $('#carritos_items').html(respuesta);
                }
              })
            }
            setTimeout(function(){
                $(".tamanio").fadeIn().html(resp.success).hide();
              },4000);
        }
      });
    }
    function detailView(urls){
      window.location.href = urls;
    }
</script>