<div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6" data-aos="fade-right">
            <video src="/static/assets/img/vid3.mp4" autoplay muted alt="" style="border-radius: 20px; margin-left: 50px;"></video>
          </div>
          <div class="col-xl-7 col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Automatiza tus pedidos</h3>
            <p data-aos="fade-up">
               ¡Se acabó enviar fotos y repetir precios una y otra vez!
               Tus clientes ven todos tus productos, ctategorias, precios y promociones, eligen lo que quieren y realizan su pedido.
               A ti te llega el pedido completo más los datos del cliente.
               Sin comisiones ni intermediarios.
               Tú te enfocas en vender; AMCEB se encarga de organizar tus pedidos.
            </p>
            <div class="icon-box" data-aos="fade-up">
              <i class="bx bx-store-alt"></i>
              <h4>Crea tu tienda</h4>
              <p>
                Te creas una cuenta regístras los datos de tu negocio, eliges el nombre de tu enlace (ejem. www.amceb.com/mi-tienda) lo compartes y listo al instante.
              </p>
            </div>
            <div class="icon-box" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>Sube tus productos</h4>
              <p>
                Añade fotos, (registra videos de tiktok, Facebook, Youtube) precios, descuentos, tamaños y colores. Organiza por categorías como quieras.
              </p>
            </div>
            <div class="icon-box" data-aos="fade-up">
              <i class="bi bi-share"></i>
              <h4>Comparte y vende</h4>
              <p>
                Tu negocio siempre abierto comparte tu enlace en tus RRSS donde quieras, tus clientes lo ven, compran tus productos en cualquier momento.
                 el pedido te llega directamente a tu WhatsApp.
              </p>
            </div>
          </div>
        </div>

      </div>