
      <div class="section-title" data-aos="fade-up">
        <h2>Contáctanos</h2>
      </div>
      <div class="row no-gutters justify-content-center" data-aos="fade-up">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Dirección:</h4>
              <p>{{company.address|default:" - - -"}}</p>
            </div>

            <div class="email mt-4">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>{{company.email|default:" - - -"}}</p>
            </div>

            <div class="phone mt-4">
              <i class="bi bi-whatsapp"></i>
              <h4>Celular:</h4>
              <p>{{company.mobile|default:" - - -"}}</p>
            </div>
          </div>

        </div>

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-shop-window"></i>
              <h4>Empresa:</h4>
              <p>{{company.description|default:" - - -"}}</p>
            </div>

            <div class="email mt-4">
              <i class="bi bi-currency-dollar"></i>
              <h4>Metodos de Pago:</h4>
              <p> Tranferencia - Pagos por QR </p>
            </div>

            <div class="phone mt-4">
              <i class="bi bi-cursor"></i>
              <h4>Ciudad:</h4>
              <p> Cochabamaba - Bolivia</p>
            </div>
          </div>
        </div>

      </div>

<!--       <div class="row mt-3 justify-content-center container" data-aos="fade-up" style="box-shadow: 0 7px 7px rgb(0 0 0 / 18%);">
        <div class="col-lg-8 justify-content-center">
          <form class="form-row">
            <div class="row">
              <div class="col-auto">
                <strong>Quiero optener mi cupón:</strong>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Correo electrónico" name="email" required>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-success">Enviar</button>
              </div>
            </div>
          </form>
        </div>

      </div><br> -->