
      <div class="logo" style="display: flex;width: 400px;justify-content: space-around;">
        <h1><a href="/">
        {% block company %}
            AceLat
        {% endblock company %}
          </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <h1><a href="#" style="font-size: 25px;" onclick="mostrar_buscador()"><i class="bi bi-search"></i></a></h1>
        <h1><a href="https://api.whatsapp.com/send?text=Catalogo:{% now 'Y-M-d' %} %0A %0A *{{company.name|upper|default:' '}}* %0A{{request.build_absolute_uri}}" target="_blank" style="font-size: 25px;"><i class="bi bi-share-fill"></i></a></h1>
        <h1>
          <a href="#" class="nav-link scrollto cantidades-card" onclick="verCarrito('/ver_carrito/')" 
            data-bs-toggle="modal" data-bs-target="#exampleModal">
            <button type="button" class="btn btn-primary position-relative">
              <i class="bi bi-cart-fill"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cont_compras">
                {{total_compra}}
              </span>
            </button>
          </a>
        </h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Productos</a></li>
          <li class="dropdown"><a href="#"><span>Categorias</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for c in categorias %}
                <li style="cursor: pointer;" class="nav-link scrollto"><a onclick="mostrar_por_categoria('{{c.id}}')" href="#product">{{c.name|title}}</a></li>
              {% empty %}
                <li class="bi-x"><a href="">No hay Categorias</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
          <li class="dropdown"><a href="#"><span>Mi Perfil</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li style="cursor: pointer;" class="nav-link scrollto"><a onclick="mostrar_por_categoria('{{c.id}}')" href="#product">Editar</a></li>
             
                <li class="bi-x"><a href="">Salir</a></li>

            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  <script>
    function verCarrito(urls){
      $.ajax({
          type:'GET',
          url:urls,
          success:function(resp){
              $("#optenerProducto").html(resp);
          }
      });
    }
  function mostrar_buscador(){
    $('.menus').slideToggle(1000);
    $('.menus form #shear_text').focus();
  }
  </script>