{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>
    {% block titulo %}
    {{dashboard.name|upper|truncatechars:17|cut:" "}}
    {% endblock titulo %}
  </title>
  
  {% block tecnica_seo %}
  <meta name="description" content="{{ dashboard.get_meta_description }}">
  <meta property="og:title" content="{{ dashboard.get_meta_title }}">
  <meta property="og:description" content="{{ dashboard.get_meta_description }}">
  <meta property="og:image" content="{{ dashboard.get_meta_image }}">
  <meta property="og:url" content="https://{{ request.get_host }}{{ dashboard.get_meta_url }}">
  <link rel="canonical" href="https://{{ request.get_host }}{{ dashboard.get_meta_url }}">
  {% endblock tecnica_seo %}
    
  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">



  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/card_products.css' %}">


  <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
  <link href="{% static 'select2/css/select2.css' %}" rel="stylesheet" />
  <script src="{% static 'select2/js/select2.js' %}"></script>

  <!-- files by reload date range piker  -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  {% block code_meta %}
    {% if dashboard.codigo %}
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{dashboard.codigo}}');
        fbq('track', 'PageView');
        </script>
      <noscript>
        <img height="1" width="1" style="display:none" 
        src="https://www.facebook.com/tr?id={{dashboard.codigo}}&ev=PageView&noscript=1"/>
      </noscript>
    {% endif %}
  {% endblock code_meta %}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6758294951145066" crossorigin="anonymous"></script>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo" style="display: flex;width: 400px;justify-content: space-around;">
        <h1>
          {% block company %}
          <a href="/">
            {{dashboard.name|upper|cut:" "}}
          </a>
          {% endblock company %}
        </h1>

        {% block carrito %}
        {% include 'sheart_companys.html' %}
        {% endblock carrito %}

      </div>

      <nav id="navbar" class="navbar">

        {% block menus %}
        {% include 'menu_index.html' with type_company=type_company count_comp=count_comp %}
        {% endblock menus %}

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->
  <!-- ======= Hero Section ======= -->
  {% block hero %}
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Bienvenido al Sistema {{dashboard.name|upper|cut:" "}}</h1>
      <h2>Crea & encuentra las mejores tiendas online de toda Bolivia con AI & SEO</h2>
      <a href="#team" class="btn-get-started scrollto"> Ver Ultimas Novedades</a>
      <a href="#" onclick="form_company('/registro_company/')" data-bs-toggle="modal"
      data-bs-target="#exampleModal" class="btn-get-started scrollto"> crear mi tienda online</a>
    </div>
  </section>
  {% endblock hero %}
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Services Section ======= -->
    
    {% block form_buscador %} {% endblock form_buscador %}
      
    <!-- End Services Section -->
    <!-- ======= Team Section ======= -->
    {% block contenido %}
    <section id="team" class="team" style="margin-top: 10px;">
      <div class="container-fluid productos_por_categorias">
        {% include 'card_type_companys.html' with type_company=type_company count_comp=count_comp %}
        <hr>
        {% include 'pag_productos.html' %}
      </div>
    </section>
    {% endblock contenido %}
    
    {% block suscipcion_for_email %} {% endblock suscipcion_for_email %}

    {% block productos_mas_vistos %} {% endblock productos_mas_vistos %}

    {% block preg_frecuentes %}
    {% include 'preguntas_frecuentes.html' %}
    {% endblock preg_frecuentes %}
      
    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" id="optenerProducto">

        </div>
      </div>
    </div>
    
    {% block google_adsense %}
      
    {% endblock google_adsense %}
    {% block contact %} {% endblock contact %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
  {% block footer_catalog %}
  {% include 'footer_catalog.html' %}
  {% endblock footer_catalog %}
  <!-- End Footer -->

  {% block button_whatsap %}

  {% endblock button_whatsap %}
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Aviso</strong>
        <small>hace 1 segundo</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body alert alert-success">

      </div>
    </div>
  </div>
  <div class="container align-items-center justify-content-center">
    <!--  <div class="alert alert-danger tamanio error_pedido" style="display: none;" role="alert"></div>
  <div class="alert alert-success tamanio confir_pedido" style="display: none;" role="alert"></div>
 -->
  </div>
  <!-- Button de llava hacia arriba -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'js/funcionesFromUser.js' %}"></script>
  {% block js %}

  {% endblock js %}

</body>
<script>
  const toastLiveExample = document.getElementById('liveToast');
  function mostrar_notificacion(menj) {
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
    toastBootstrap.show();
  }

let lightbox = null;
function mostrar_por_categoria(urls) {
  $.ajax({
    type: 'GET',
    url: urls,
    headers: { 'X-Requested-With': 'XMLHttpRequest' },
    success: function (resp) {
      // Inyectar HTML y esperar que termine para reinicializar GLightbox
      $(".productos_por_categorias").fadeOut(200, function () {
        $(this).html(resp).fadeIn(400, function () {

          // Destruir instancia anterior si existe
          if (lightbox && typeof lightbox.destroy === 'function') {
            lightbox.destroy();
          }

          // Inicializar nuevamente el lightbox
          lightbox = GLightbox({
            selector: '.portfolio-lightbox'
          });

        });
      });

      // Cierra menú móvil si estaba abierto
      $(".navbar-mobile i").click();
    }
  });
}

  function form_company(urls) {
    $.ajax({
      type: 'GET',
      url: urls,
      headers: {'X-Requested-With': 'XMLHttpRequest' },// Marca como AJAX
      success: function (resp) {
        $(".modal-content").html(resp);
        $(".navbar-mobile i").click();
      }
    });
  }
  function login(urls) {
    $.ajax({
      type: 'GET',
      url: urls,
      headers: {'X-Requested-With': 'XMLHttpRequest' },// Marca como AJAX
      success: function (resp) {
        $(".modal-content").html(resp);
        $(".navbar-mobile i").click();
      }
    });
  }
  function verPlanes(urls, id_company) {
    $.ajax({
      type: 'GET',
      url: urls,
      data:{'id_company':id_company},
      headers: {'X-Requested-With': 'XMLHttpRequest' },// Marca como AJAX
      success: function (resp) {
        $(".modal-content").html(resp);
        $(".navbar-mobile i").click();
      }
    });
  }
</script>

</html>