{% block menus %}
<ul>
  <!-- <li><a class="nav-link scrollto active" href="#" onclick="form_company('/registro_company/')" data-bs-toggle="modal"
      data-bs-target="#exampleModal">Crear Catálogo</a></li> -->
  
  <li><a class="nav-link scrollto active" href="#" onclick="verPlanes('/ver_planes')" data-bs-toggle="modal"
        data-bs-target="#exampleModal">Solicitar Catalogo</a></li>

  <li class="dropdown"><a href="#team"><span>Categorias</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
      {% for c in type_company %}
      <li style="cursor: pointer;" class="nav-link scrollto"><a href="/{{c.id}}/type">{{c.name|title}}</a></li>
      {% empty %}
      <li class="nav-link scrollto"><a href="">No hay Categorias</a></li>
      {% endfor %}
    </ul>
  </li>
  <li><a class="nav-link scrollto" href="#footer">Nosotros</a></li>
  {% if user.is_authenticated %}

  {% else %}
  <li><a class="nav-link scrollto" href="#login" data-bs-toggle="modal" data-bs-target="#exampleModal"
      onclick="login('/login_user/')">Ingresar</a></li>
  {% endif %}
</ul>
{% endblock menus %}