<section id="faq" class="faq section-bg">
    <div class="container-fluid row" style="margin-left: 5px;">

      <div class="section-title" data-aos="fade-up">
        <h2>Preguntas frecuentes</h2>
      </div>

      <div class="faq-list col-lg-6 mb-5 mb-lg-0">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> 
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1" >Como funciona el sistema AMCEB? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                AMCEB es una plataforma de comercio online que te permite comenzar, desarrollar y gestionar un negocio. puedes: <br>
                * Crear y personalizar una tienda online <br>
                * Vender en múltiples lugares, como sitios web, dispositivos móviles, redes sociales, mercados online, tiendas físicas y tiendas temporales <br>
                * Obtiene reportes de tus productos, ventas y clientes <br>

                AMCEB está totalmente basado y alojado en la nube, lo que significa que no tienes que preocuparte por actualizar o mantener el software ni los servidores web. Esto te brinda la flexibilidad para dirigir tu negocio y acceder a él desde cualquier lugar, incluso desde tu dispositivo móvil.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Como puedo tener una tienda online? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Simplemente puede registrarse con los datos de sus negocio o empresa, ya después usted puede ir agregando sus productos para que se muestre en el sistema,
                Ud. es propietario y libre de administrar toda su información, compartir o mucho mas.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Que pasa con mi informacion? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Nos tomamos muy en serio la privacidad y seguridad de tus datos. Solo recopilamos la información necesaria para brindarte un mejor servicio y nunca la compartimos con terceros sin tu consentimiento.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Cuanto cuesta una tienda virtual? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Prueba AMCEB gratis durante 7 días.
                Cuando termine el período de prueba, elige un plan que se adapte al tamaño y al estado de tu negocio.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Necesito ser un diseñador o desarrollador de utilizar el Sistema? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                No, no necesitas ser diseñador o desarrollador para usar el sistema. <br>
                Si necesitas ayuda, puedes comunicarte con nuestro equipo de atención al cliente via whatsApp o visitar nuestro canal de YouTube para seguir aprendiento del sistema.
              </p>
            </div>
          </li>

        </ul>
      </div>
      <div class="col-lg-6" data-aos="fade-left">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <figure>
              <img src="static/assets/img/features-1.png" alt="" class="img-fluid">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>