<section id="faq" class="faq section-bg">
    <div class="container-fluid row" style="margin-left: 5px;">

      <div class="section-title" data-aos="fade-up">
        <h2>Preguntas frecuentes</h2>
      </div>

      <div class="faq-list col-lg-6 mb-5 mb-lg-0">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> 
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1" >Cobran comisión por cada venta? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                * No, nunca. Los planes de pago son anual fija cada venta es tuyo. Los pedidos llegan directo a tu WhatsApp
                con todos los datos de tu cliente, el producto que compró y el precio total. No hay comisiones ni intermediarios.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Mis clientes necesitan instalar algo? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                * No, tu y tus clientes no necesitan instalar nada es 100% online. Solo necesitan un navegador web y conexión a internet para acceder a tu tienda online y realizar sus compras de manera rápida y segura.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Que pasa con mi información? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Nos tomamos muy en serio la privacidad y seguridad de tus datos. Solo recopilamos la información necesaria para brindarte un mejor servicio y nunca la compartimos con terceros sin tu consentimiento.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Cuanto me cuesta mi tienda virtual? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                * Prueba una demo 30 días gratis.<br>
                Igualmente tienes todas las funciones Pro, Cuando termine el período de prueba, elige un plan que se adapte a tu negocio.
                Ofrecemos diferentes planes según la cantidad de registros que maneje su empresa o negocio.<br>
                De todas maneras, su tienda online estará disponibles siempre y cuando este con stock.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Necesito saber de diseño o tecnología? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                No. Subes tus fotos y precios, y tu catálogo se ve profesional automáticamente. Y si algo se te complica, te ayudamos.<br>
                Solo verifica que sean las imagenes correctas en formato cuadrado mucho mejor, para que se vean bien en tu catálogo digital.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Que incluye nuestro servicio? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
              <p>
                * Te ayudamos a subir tus primeros productos a su tienda online si lo requiere. <br>
                * Optimización SEO, aplicamos técnicas avanzadas para que tu catalogo y produtos aparezca en los primeros resultados de Google. <br>
                * Panel de control. para que actualices toda tu informacion cuando quieras. <br>
                * Email marketing enviamos mensajes a miles de clientes que se suscriben a su tienda online de manera automática. <br>
                * Soporte y asesoría permanente siempre que lo necesites.
              </p>
            </div>
          </li>
          
          <li data-aos="fade-up" data-aos-delay="50">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">Es mejor usar mis RRSS como mi catálogo? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
              <p>
                * No porque tus productos quedan dispersos en diferentes redes sociales no se ven profesionales no sabes cuanto tienes en stock. <br>
                * No tienes los datos de tus clientes, no sabes cuanto vendes, no tienes reportes.
                 Con tu catálogo online, puedes centralizar toda tu informacion, productos, ubicacion de tu negocio y mayor crecimeinto de tu marca y confienza a tus clientes.
              </p>
            </div>
          </li>

        </ul>
      </div>
      <div class="col-lg-6" data-aos="fade-left">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <figure>
              <img src="static/assets/img/features-1.png" alt="" class="img-fluid">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>