
{% if dashboard.name %}
<h1>
<a href="https://api.whatsapp.com/send?text=Sistema AMCEB %0A *{{dashboard.description|upper|default:' '}}* %0A{{request.build_absolute_uri}}" target="_blank" title="Hablar con un representante" style="font-size: 25px;">
        <i class="bi bi-share-fill"></i>
</a>
</h1>

<h1>
<a href="#" style="font-size: 25px;" onclick="searh_companys('{{dashboard.id}}')">
        <i class="bi bi-search"></i>
</a>
</h1>

<script>
function searh_companys(id_dashboard){
  $('.menus').slideToggle(1000);
  $('.menus form #shear_text').focus();
}
</script>
{% endif %}


        