{% load crispy_forms_tags %}
<div class="modal-header  thead-light" style="background-color: #58bba9;">
  <h5 class="modal-title text-white" id="exampleModalLabel">Registrar Nueva Sucursal</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body table-responsive">
  <form action="/{{company.py}}/add_huvicacion/" method="POST" id="add_hivicacion_forms">
    {% csrf_token %}
    {{form|crispy}}
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i
          class="bi bi-arrow-left-circle"></i> Cancelar</button>
      <button type="submit" class="btn btn-success btn-sm">Registrar</button>
    </div>
  </form>
  <p class="invalid_ct"></p>
</div>
<script>
  $('#add_hivicacion_forms').on('submit', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: $(this).attr('action'),
      data: $(this).serialize(),
      success: function (resp) {
        if (resp.error) {
          $(".invalid_ct").html(resp.error);
        } else {
            
            $(".btn-close").click();
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert("Error:" + thrownError);
      }
    });
  });
</script>