<ul>
    
    {% if user.is_authenticated %}
    
      {% if company.id %}
        <!-- otro menu -->
        <li><a class="nav-link scrollto active" href="{{request.build_absolute_uri}}">Recargar</a></li>
        <li><a class="nav-link scrollto" href="#" onclick="newProducto('/{{company.id}}/new_producto/')">Nuevo Productos</a></li>
        <li class="dropdown"><a href="#"><span>Categorias</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            {% for c in categorias %}
              <li style="cursor: pointer;" class="nav-link scrollto"><a onclick="mostrar_por_categoria('/{{company.id}}/{{c.id}}/mostrar_por_categoria')" href="#product">{{c.name|title}}</a></li>
            {% empty %}
              <li class="bi-x"><a href="">No hay Categorias</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
      
    {% else %}
      <li><a class="nav-link scrollto active" href="{{request.build_absolute_uri}}">  Recargar </a></li>
    {% endif %}
    <li><a class="nav-link scrollto" href="#contact">Contactanos</a></li>
    
    {% if user.is_authenticated %}
    <li class="dropdown"><a href="#"><span>Mi Perfil</span> <i class="bi bi-chevron-down"></i></a>
      <ul>
        {% if user.first_name %}
          <li><a class="nav-link scrollto" href="#" >{{request.user.first_name|title}} {{request.user.last_name|title}} </a></li>
        {% endif %}
        <li><a class="nav-link scrollto" href="#" onclick="updateUser('/{{request.user.id}}/update_perfil_user/')">Actualizar mi Perfil</a></li>
        <li><a class="nav-link scrollto" href="/{{request.user.id}}/companys">Mis Catalogos</a></li>
        <li><a class="nav-link scrollto" href="/salir/">Cerrar Sesion</a></li>
      </ul>
    </li>
      {% else %}
      <li><a class="nav-link scrollto" href="#login" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="login('/login_user/')">Ingresar</a></li>
    {% endif %}
  </ul>